.type-25 {
  border: none;
  height: auto;
}
.type-25 header {
  height: 420px;
}
.type-25 header img {
  width: 100%;
}
.type-25 header .content-slide-show {
  position: absolute;
  top: 20%;
  right: 30%;
  text-align: right;
  color: #fff;
}
.type-25 header .content-slide-show .sub-title {
  font-size: 32px;
}
.type-25 header .content-slide-show .title {
  font-size: 57px;
  margin-top: 10px;
  text-align: left !important;
}
.type-25 header .content-slide-show .content {
  width: 65%;
  text-align: left;
  margin-top: 15px;
}
.type-25 header .swiper-pagination {
  padding-top: 30px;
  padding-bottom: 20px;
  bottom: 0px !important;
}
.type-25 header .swiper-pagination .swiper-pagination-bullet {
  height: 7px;
  width: 40px;
  background: transparent;
  border: 2px #fff solid;
  border-radius: 3px;
}
.type-25 header .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff !important;
}
@media (max-width: 900px) {
  .type-25 header {
    display: none;
  }
}
@media (max-width: 900px) {
  .type-25 .top-menu {
    border-top: 0 !important;
  }
}
.type-25 .top-menu {
  border-top: 4px #71b5e4 solid;
  border-bottom: 2px #f4f4f4 solid;
}
.type-25 .top-menu .pl-10 {
  padding-left: 10px;
}
.type-25 .top-menu .top_panel_middle {
  width: 100%;
  z-index: 999;
  background: #fff;
  top: 0;
}
.type-25 .top-menu .logo {
  margin-top: 30px;
  margin-bottom: 15px;
  display: inline-block;
}
.type-25 .top-menu .logo a {
  text-decoration: none;
}
.type-25 .top-menu .logo_content {
  color: #616161;
}
.type-25 .top-menu .left,
.type-25 .top-menu .logo_content {
  float: left;
}
.type-25 .top-menu .logo_text {
  font-family: "Roboto Slab";
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: #616161;
}
.type-25 .reponsive-menu .item-menu {
  display: inline-block;
  float: left;
  font-size: 24px;
  margin-top: 40px;
}
.type-25 .reponsive-menu:hover .item-menu {
  color: #71b5e4;
}
.type-25 .sub-menu {
  z-index: 1000;
}
.type-25 .top_menu {
  float: right;
  margin-top: 0px;
  z-index: 10;
}
.type-25 .main-menu {
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
}
.type-25 .main-menu ul {
  list-style: none;
}
.type-25 .current {
  float: left;
  padding: 0px 13px;
  line-height: 94px;
}
.type-25 #current {
  font-weight: 600;
  color: #616161;
}
.type-25 .show-active {
  color: #71b5e4 !important;
}
.type-25 .show-home1 {
  background-color: #fff;
}
.type-25 .main-menu ul li a {
  text-decoration: none;
}
.type-25 .sub-menu {
  line-height: 0px;
  background-color: #292724;
}
.type-25 .sub-menu {
  line-height: 0px;
  position: absolute;
  display: none;
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.type-25 .sub-menu a {
  line-height: 35px;
  color: #aeaead;
  padding-left: 10px;
}
.type-25 .sub-menu li {
  width: 170px;
}
.type-25 .sub-menu li:hover {
  background-color: #fff;
}
.type-25 .sub-menu li:hover a:hover {
  color: #71b5e4;
}
.type-25 .current:hover .sub-menu {
  display: block;
}
.type-25 .current:hover #current {
  color: #71b5e4;
}
.type-25 .active-1 {
  display: block !important;
}
.type-25 .quick-access {
  padding: 0px;
  display: inline-block;
}
.type-25 .form-search {
  position: relative;
  float: left;
  margin: 0px 0 0;
}
.type-25 .input-text {
  background: rgba(0,0,0,0) none repeat scroll 0 0;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 1.15em;
  -webkit-border-radius: 1.15em;
  -khtml-border-radius: 1.15em;
  -moz-border-radius: 1.15em;
  box-shadow: none;
  color: #616161;
  float: right;
  font-size: 0;
  height: 34px;
  line-height: 18px;
  padding: 5px 0px;
  padding-left: 25px;
  right: 25px;
  position: relative;
  transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -ms-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  width: 0;
  top: -30px;
  box-sizing: border-box;
}
.type-25 .input-text-active {
  border: 1px solid #c5c5c5 !important;
  font-size: 12px !important;
  padding-right: 35px !important;
  width: 130px !important;
  color: #fff !important;
  background-color: #71b5e4 !important;
}
.type-25 .button-active {
  color: #fff !important;
  background-color: #71b5e4 !important;
  border-radius: 1.5em !important;
}
.type-25 .button:hover {
  color: #fff !important;
  background-color: #71b5e4 !important;
  border-radius: 1.5em !important;
}
.type-25 .button {
  float: right;
  height: 34px;
  width: 34px;
  background-color: #fff;
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 18px;
  border: 0;
}
.type-25 .button i {
  position: relative;
  top: 8px;
}
.type-25 .op,
.type-25 .up {
  float: right;
  padding-right: 15px;
  padding-top: 17px;
}
.type-25 .op {
  display: block;
}
.type-25 .up {
  display: none;
}
@media (max-width: 1025px) {
  .type-25 .content_wrap .top_menu,
  .type-25 .content_wrap .logo {
    display: none;
  }
  .type-25 .center-logo {
    display: block !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .type-25 .reponsive-menu {
    float: left;
  }
  .type-25 .center-logo {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .type-25 .reponsive-menu {
    float: right;
  }
  .type-25 .logo {
    float: left;
  }
}
.type-25 .main-menu-reponsive .menu-reponsive {
  padding-left: 0px;
  position: fixed;
  right: 100%;
  width: 40%;
  background: #292724;
  top: 0;
  bottom: 0;
  z-index: 500;
  height: auto;
  transition: all 1s ease 0s;
}
.type-25 .main-menu-reponsive .full-show {
  position: fixed;
  right: 100%;
  width: 40%;
  top: 0;
  display: none;
  bottom: 0;
  height: auto;
  transition: all 1s ease 0s;
  left: 0%;
  width: 100%;
  cursor: pointer;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
}
.type-25 .main-menu-reponsive ul {
  list-style: none;
  background: ;
}
.type-25 .main-menu-reponsive li {
  line-height: 45px;
}
.type-25 .main-menu-reponsive .item-menu {
  border-bottom: 1px #45403d solid;
}
.type-25 .main-menu-reponsive .item-menu-1 {
  border-top: 1px #45403d solid;
}
.type-25 .main-menu-reponsive .item-menu-1 a {
  text-transform: capitalize;
  padding-left: 60px;
}
.type-25 .main-menu-reponsive a {
  text-decoration: none;
  text-transform: uppercase;
  color: #aeaead;
  font-size: 12px;
  padding-left: 35px;
  font-weight: 700;
}
.type-25 .main-menu-reponsive .sub-content {
  padding-left: 0px;
}
.type-25 .main-menu-reponsive li:hover {
  background-color: rgba(0,0,0,0.2);
}
.type-25 .main-menu-reponsive a:hover {
  color: #71b5e4;
  text-decoration: none;
}
.type-25 .main-menu-reponsive .active-rp {
  background-color: rgba(0,0,0,0.2);
  font-weight: bold;
}
@media (min-width: 481px) {
  .type-25 .reponsive-menu-active {
    right: 60% !important;
  }
}
@media (max-width: 480px) {
  .type-25 .reponsive-menu-active {
    right: 0% !important;
    width: 100% !important;
  }
  .type-25 .menu-reponsive {
    top: 74px !important;
  }
  .type-25 .full-show {
    background-color: rgba(0,0,0,0) !important;
  }
}
.type-25 .service {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 45px;
  border-bottom: 2px #f0f0f0 solid;
  border-top: 2px #f0f0f0 solid;
}
.type-25 .service .title {
  font-size: 36px;
  color: #71b5e4;
  margin-bottom: 30px;
}
.type-25 .service .title span {
  color: #000;
}
.type-25 .service .content {
  color: #616161;
}
.type-25 .items {
  background-color: #f8f8f8;
  border-bottom: 2px #f0f0f0 solid;
}
.type-25 .items .item {
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
}
.type-25 .items .item span {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}
.type-25 .items .item span i {
  font-size: 48px;
  border: 1px #616161 solid;
  border-radius: 50%;
  padding: 15px 18px 15px 18px;
  color: #71b5e4;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.type-25 .items .item span i:hover,
.type-25 .items .item span i:focus {
  color: #fff;
  border-color: #0eaaa6;
  background-color: #71b5e4;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.type-25 .items .item .content h4 {
  color: #5f5f5f;
}
.type-25 .items .item .content p {
  color: #616161;
  text-transform: inherit;
}
.type-25 footer {
  border-top: 2px #a98d89 solid;
  height: 150px;
  background-image: url(../images/blue.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.type-25 .bttop {
  z-index: 9999;
  position: fixed;
  right: 30px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  display: none;
  line-height: 38px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  -moz-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
  background-color: rgba(0,0,0,0.4);
  font-size: 20px;
  bottom: 30px;
}
.type-25 .bttop i {
  position: relative;
  bottom: -10px;
}
.type-25 .bttop:hover {
  background-color: rgba(0,0,0,0.8);
}
@media (max-width: 767px) {
  .type-25 .is-hidden-sm-down {
    display: none !important;
  }
}
