.type-1413 {
  font-family: 'Montserrat', sans-serif;
  border: none;
  height: auto;
}
.type-1413 .cart-area {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.type-1413 .cart-area .cart-title {
  position: relative;
  padding-bottom: 0.85em;
  text-transform: uppercase;
  margin-bottom: 30px !important;
  font-size: 20px;
  display: block;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
}
.type-1413 .cart-area .cart-title:before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #f1f1f1;
}
.type-1413 .cart-area .cart-title:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 2px;
  background: #2ed87b;
}
.type-1413 .cart-area .cart-list {
  width: 100%;
  margin-bottom: 30px !important;
}
@media (max-width: 448px) {
  .type-1413 .cart-area .cart-list th,
  .type-1413 .cart-area .cart-list td {
    font-size: 10px !important;
  }
  .type-1413 .cart-area .cart-list th:nth-child(1n+4) {
    display: none;
  }
  .type-1413 .cart-area .cart-list td:nth-child(1n+4) {
    display: none;
  }
}
.type-1413 .cart-area .cart-list thead {
  border-bottom: 15px solid #e9ebee;
  text-transform: uppercase;
}
.type-1413 .cart-area .cart-list .panel {
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
.type-1413 .cart-area .cart-list .panel th {
  padding: 15px;
  width: 15%;
  font-size: 13px;
}
.type-1413 .cart-area .cart-list .panel th:nth-child(1) {
  width: 50% !important;
}
.type-1413 .cart-area .cart-list tbody tr {
  border-bottom: 10px solid #e9ebee;
}
.type-1413 .cart-area .cart-list tbody .panel {
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 10px solid #e9ebee;
}
.type-1413 .cart-area .cart-list tbody .panel td {
  padding: 15px;
  vertical-align: middle;
  color: #555;
}
@media (max-width: 991px) {
  .type-1413 .cart-area .cart-list tbody .panel td .is-hidden-sm-down {
    display: none !important;
  }
}
.type-1413 .cart-area .cart-list tbody .panel td .product-thumb {
  width: 120px;
  margin-right: 10px;
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.type-1413 .cart-area .cart-list tbody .panel td .valign-middle {
  vertical-align: middle !important;
}
.type-1413 .cart-area .cart-list tbody .panel td .valign-middle .title {
  text-transform: uppercase;
  margin-bottom: 15px !important;
  font-size: 14px;
}
.type-1413 .cart-area .cart-list tbody .panel td .valign-middle .title a {
  text-decoration: none;
  color: #314555;
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
}
.type-1413 .cart-area .cart-list tbody .panel td .valign-middle .title a:hover {
  text-decoration: none;
  color: #2ed87b;
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
}
.type-1413 .cart-area .cart-list tbody .panel td .valign-middle .type {
  font-size: 12px !important;
}
.type-1413 .cart-area .cart-list tbody .panel td .valign-middle .type span {
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
}
.type-1413 .cart-area .cart-list tbody .quantity-label {
  width: 45px;
  border: 0;
  background: transparent;
  outline: none !important;
}
.type-1413 .cart-area .cart-list tbody .sub-total {
  color: #2ed87b;
}
.type-1413 .cart-area .cart-list tbody .close {
  float: left;
  opacity: 1;
}
.type-1413 .cart-area .cart-list tbody .close .fa-trash-o {
  font-size: 18px;
  color: #F00;
}
