.type-1410{  
    font-family: PT Serif;
    border: none;
    height: auto;
    @color_icon: #D0021B;
    @color_bg: #000;   
    @color_write: #fff;
    

    .row-tb-20 {
	    margin-top: -20px;
	    margin-bottom: -20px;
	}
	.color-lighter {
	    color: #F5F5F5 !important;
	}
	
    .footer-top-area {
    	position: relative !important;
    	background-color: #314555 !important;
	    padding-bottom: 30px !important;
	    padding-top: 70px !important;

	    .main-footer {
	    	margin-top: -20px;
    		margin-bottom: -20px;

    		.footer-col {
    			padding-top: 20px;
    			padding-bottom: 20px;

    			img {
    				margin-bottom: 30px !important;
    			}
    			.color-light {
				    color: #d4d4d4 !important;
				}
				h2 {
				    font-size: 16px;
				    line-height: 26px;
				    margin: 0 0 40px 0;
				    text-transform: uppercase;
				}
				.ico {
				    font-size: 18px;
				    margin-right: 8px;
				    color: #2ed87b;
				}
				a, a:hover {
					color: #2ed87b;
    				text-decoration: none;
				}
    		}
    		.footer-links {
    			a {
    				text-decoration: none;
				    display: block;
				    position: relative;
				    color: #bbbec1;
				    height: 25px;
				    line-height: 25px;
				    padding-left: 20px;
				    text-transform: capitalize;
				}
				a:hover {
					color: #bbbec1!important;
					text-decoration: none;
				}
				a:before {
				    content: "\f105";
				    font-family: fontAwesome;
				    font-size: 15px;
				    position: absolute;
				    left: 0;
				    top: 0;
				    height: inherit;
				    line-height: inherit;
				    color: #2ed87b;
				}
    		}
    		.footer-top-instagram {
    			.content {
    				margin: -5px;

    				.item {
    					padding: 5px;

    					img {
    						display: block;
    						width: 100%;
    						max-width: 100%;
    						height: auto;
    						margin-bottom: 0px !important;
    					}
    				}
    			}
    		}
	    }
	    .payment-methods {
		    opacity: 0.8;
		    
		    span {
		    	padding: 0 2px;
		    }
		    img {
			    border-radius: 2px!important;
			    width: 55px;
			    display: inline-block!important;
			    max-width: 100%!important;
			    height: auto!important;
			}
		}
    }
}
