.type-1401 {
  border: none;
  height: auto;
  font-family: 'Montserrat', sans-serif;
}
.type-1401 .top-menu {
  background-color: #314555;
}
.type-1401 .top-menu .menu-content {
  max-height: none;
  padding-right: 0px;
  padding-left: 0px;
}
.type-1401 .top-menu nav {
  margin-bottom: 0px;
  border: 0;
}
.type-1401 .top-menu nav .indicator {
  margin-left: 10px;
}
.type-1401 .top-menu nav .active a {
  background-color: #2ed87b;
}
.type-1401 .top-menu nav a {
  color: #fff;
  height: 60px;
  padding: 0 20px;
  margin: 0;
  position: relative;
  line-height: 60px;
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
}
.type-1401 .top-menu nav a:hover {
  background-color: #2ed87b;
  text-decoration: none;
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
}
.type-1401 .top-menu nav li:hover .sub-menu {
  display: block;
}
.type-1401 .top-menu .dropdown-mega-menu:hover .mega-menu {
  display: block;
}
.type-1401 .top-menu .dropdown-mega-menu {
  position: static;
}
.type-1401 .top-menu .dropdown-mega-menu .mega-menu {
  width: 100%;
  top: 100%;
  left: 0;
  padding: 15px 20px;
  display: none;
  background: #fff;
  margin: 0;
  min-width: 200px;
  position: absolute;
  z-index: 99;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.type-1401 .top-menu .dropdown-mega-menu .mega-menu li {
  display: block;
  position: relative;
}
.type-1401 .top-menu .dropdown-mega-menu .mega-menu li a {
  height: 35px;
  line-height: 35px;
  color: #314555;
  padding: 0px;
}
.type-1401 .top-menu .dropdown-mega-menu .mega-menu li a:hover {
  background-color: #fff;
  color: #2ed87b;
}
.type-1401 .top-menu .mega-menu a {
  height: 25px;
  line-height: 30px;
  display: block;
  color: #314555;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
}
.type-1401 .top-menu .mega-menu li:hover a {
  background-color: #f1f1f1;
  color: #2ed87b;
  display: block;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
}
.type-1401 .top-menu .mega-menu .deal-thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.type-1401 .top-menu .mega-menu .deal-thumbnail .label-discount {
  right: 10px !important;
  top: 10px !important;
  color: #fff;
  font-size: 15px;
  height: 50px;
  width: 50px;
  line-height: 48px;
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 999px;
  background-color: #ff3100;
  border: 1px dashed #fff;
  -webkit-box-shadow: 0 0 0 2px #ff3100;
  box-shadow: 0 0 0 2px #ff3100;
}
.type-1401 .top-menu .mega-menu .deal-thumbnail .deal-about {
  left: 0 !important;
  bottom: 0 !important;
  position: absolute !important;
  padding: 10px !important;
}
.type-1401 .top-menu .mega-menu .deal-thumbnail .rating {
  margin-bottom: 10px !important;
  color: #ff3100;
}
.type-1401 .top-menu .mega-menu .deal-thumbnail .rating-stars {
  cursor: pointer;
  unicode-bidi: bidi-override;
  direction: rtl;
  white-space: nowrap;
  display: inline-table;
}
.type-1401 .top-menu .mega-menu .deal-thumbnail .fa {
  display: table-cell;
  font-size: 16px;
  padding: 2px;
}
.type-1401 .top-menu .mega-menu .deal-thumbnail .deal-title {
  margin-bottom: 10px !important;
  font-size: 14px;
}
.type-1401 .top-menu .mega-menu .deal-thumbnail .color-lighter {
  color: #F5F5F5 !important;
  text-decoration: none;
  display: block;
  padding: 0px;
  margin: 0;
  position: relative;
}
.type-1401 .top-menu .sub-menu {
  background: #fff;
  margin: 0;
  display: none;
  min-width: 200px;
  position: absolute;
  z-index: 99;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.type-1401 .top-menu .sub-menu a {
  height: 35px;
  line-height: 40px;
  display: block;
  color: #314555;
}
.type-1401 .top-menu .sub-menu li {
  position: relative;
}
.type-1401 .top-menu .sub-menu li:hover a {
  background-color: #f1f1f1;
  color: #2ed87b;
  display: block;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
}
.type-1401 .top-menu .sub-menu li:hover ul {
  display: block;
}
.type-1401 .top-menu .sub-menu li:hover ul a {
  background-color: #fff;
  color: #314555;
}
.type-1401 .top-menu .sub-menu .indicator {
  position: absolute;
  top: 12px;
  right: 15px;
}
.type-1401 .top-menu .sub-menu ul {
  top: 0;
  left: 100%;
  background: #fff;
  margin: 0;
  display: none;
  min-width: 200px;
  position: absolute;
  z-index: 99;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.type-1401 .top-menu .sub-menu ul li:hover a {
  background-color: #f1f1f1;
  color: #2ed87b;
  display: block;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
}
